.footer {
  width: 100%;
  background-color: #ffffff;
  margin-top: 100px;
}
.footer .footer-wrapper {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrapper .footer-info a {
  display: block;
  text-decoration: none;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 800;
  line-height: 36.84px;
  text-align: left;
  color: #000000;
}
.footer .footer-wrapper .footer-info p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  max-width: 372px;
  margin-top: 15px;
}
.footer .footer-wrapper .footer-info h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-top: 25px;
}
.footer .footer-wrapper .footer-list h3 {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  color: #000000;
  margin-bottom: 15px;
}
.footer .footer-wrapper .footer-list li {
  list-style: none;
}
.footer .footer-wrapper .footer-list li a {
  display: block;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.81px;
  text-align: left;
  color: #000000;
}
.footer .footer-wrapper .footer-contact h3 {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  color: #000000;
}
.footer .footer-wrapper .footer-contact p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  max-width: 282px;
  margin-top: 20px;
}
.footer .footer-wrapper .footer-contact h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-top: 11px;
}