.team {
  padding: 148px 0;
}
.team__title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  line-height: 180.5%;
  margin-bottom: 53px;
}
.team__cards__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

@media (max-width: 1080px) {
  .team {
    padding: 100px 0;
  }
  .team__cards__row {
    gap: 20px;
  }
}
@media (max-width: 890px) {
  .team {
    padding: 100px 0;
  }
  .team__cards__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  .team {
    padding: 50px 0;
  }
  .team__cards__row {
    grid-template-columns: 1fr;
  }
}