.subscribe {
  width: 100%;
  padding: 35px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  gap: 10px;
  &__left {
    h2 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    p {
      font-size: 17px;
    }
  }
  &__right {
    position: relative;
    width: min(390px, 100% );
    input {
      padding: 14px 20px;
      background-color: black;
      border-radius: 8px;
      width: 100%;
    }
    button {
      border: none;
      border-radius: 8px;
      height: 37px;
      cursor: pointer;
      position: absolute;
      background-color: #d80027;
      color: black;
      padding: 8px 20px;
      right: 5px;
      top: 5px;
    }
  }
}

.dark {
  background-color: #1C140F;
  .subscribe__left {
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
  .subscribe__right {
    input {
      background-color: white;
    }
    button {
      color: white;
    }
  }
}
